.modal {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10%;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s opacity;
}

.modalActive {
    opacity: 1;
    pointer-events: all;
}